# Student Data
This notebook analyzes pass/fail data for a class

In [18]:
import numpy as np
data = np.random.randint(low = 40, high = 80,size=22)
data2 = [1,2,3,4,5,6]
print(data2*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [19]:
import numpy as np

grades = np.array(data)

print(grades*2)

[150 122 148  88 106  82 126  94 102 130  88 110  88  96 144  92 146 116
 142  90 114  90]

In [43]:
study_hours = np.random.uniform(low=0.0,high=24.0,size=22)

student_data = np.array([study_hours, grades])

student_data[1][0]

75.0

In [44]:
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print(f'Average Study Time: {avg_study}\nAverage Grade Time: {avg_grade}')

Average Study Time: 12.289604575864235
Average Grade Time: 56.0

In [54]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})

df_students[df_students['Name'] == 'Pedro']
df_students.query('Name=="Pedro"')
df_students[df_students.Name=="Vicky"]

    Name  StudyHours  Grade
5  Vicky   11.554814   41.0

In [68]:
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
df_students = pd.read_csv('grades.csv',delimiter=',',header='infer')

--2022-08-06 20:28:49--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 322 [text/plain]
Saving to: ‘grades.csv.3’

grades.csv.3        100%[===================>]     322  --.-KB/s    in 0s

2022-08-06 20:28:49 (21.9 MB/s) - ‘grades.csv.3’ saved [322/322]

In [66]:
df_students.isnull().sum()
#df_students.head()

Name          0
StudyHours    0
Grade         0
dtype: int64

In [64]:
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean)

In [65]:
df_students = df_students.dropna(axis=0)

In [69]:
# Get the mean study hours using to column name as an index
mean_study = df_students['StudyHours'].mean()

# Get the mean grade using the column name as a property (just to make the point!)
mean_grade = df_students.Grade.mean()

# Print the mean study hours and mean grade
print('Average weekly study hours: {:.2f}\nAverage grade: {:.2f}'.format(mean_study, mean_grade))

Average weekly study hours: 10.41
Average grade: 49.18

In [71]:
df_students[df_students.StudyHours > mean_study].Grade.mean()

66.7

In [73]:
import pandas as pd 

passed = pd.Series(df_students.Grade >= 60)
df_students = pd.concat([df_students, passed.rename('Passed')], axis=1)

In [77]:
df_students.groupby(df_students.Passed).Name.count()

Passed
False    17
True      7
Name: Name, dtype: int64

In [80]:
print(df_students.groupby(df_students.Passed).Grade.mean())

Passed
False    38.000000
True     73.142857
Name: Grade, dtype: float64

In [84]:
df_students.groupby(df_students.Passed)['StudyHours', 'Grade'].mean()

        StudyHours      Grade
Passed
False     8.734375  38.000000
True     14.250000  73.142857

In [88]:
df_students = df_students.sort_values('StudyHours', ascending=False)